.container {
    display: inline-block;
    cursor: pointer;
  }
  
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

.dropdown {
    position: relative;
    display: none;
}

.dropdown-content {
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    background-color: white;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 5px 20px;
    text-decoration: none;
    display: block;
}
.dropdown a:hover {background-color: #ddd;}

.show {display: block;}